/*
	Fixed UI
*/
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
 		 box-shadow: none;
}
html{
	scroll-behavior: smooth;
	transition: 1.3s;
}
body{
	background-color: #E9EBEE;
	margin-top:66px;
	padding-bottom: 20px;
}

/**
*    Responsibility
*/
@media only screen and (max-width: 1199px){
	.type-post-footer{
		display: none;
		padding-bottom: 0px !important;
	}
	.type-post{
		height: 170px !important;
	}
	.type-post img{
		height: 26px !important;
		width: 26px !important;
		margin-top:15px !important;
	}
	.type-post form{
		border-bottom:0px !important;
		padding-bottom:0px !important;
	}
	.type-post button span{
		display: none;
	}
}
@media only screen and (max-width: 991px) {
	.desktop-navbar{
		display: none;
	}
	.d-m-none{
		display: none;
	}
	.d-m-block{
		display: block !important;
	}
	.post span{
		display: none;
	} 	
	.mobile-navbar{
		display: block !important;
	}
	.post .justify-content-between .p1{
		padding-left: 10px;
		padding-right: 10px;
	}
	.login{
		height: 160px !important;
	}
}
@media only screen and (max-width: 420px) {
	.login span{
		display: none;
	}
}



/**
*    Background
*/
.bg-gray{
	background-color: #F5F6F7;
}
.bg-main{
	background-color: #4267B2;
}
.bg-t{
	background-color: transparent;
}
.no-b{
	border:0px;
}
.small{
	font-size: 12px;
}
.small li{
	display: inline-block;
}
.small i{
	padding-right: 5px;
	font-size: 16px;
}
.small li:hover{
	background-color: #f9f9f9;
	font-weight: 600;	
}
.small .text-muted{
	background-color: transparent !important;
}


/*
	Navabar
*/
.navbar-brand{
	font-size: 26px;
}
.navbar-toggler{
	border:0px;
	color:#fff !important;
	font-size: 26px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller a{
	  color:#fff !important;
}

.nav-scroller li{
	margin-left: 25px;
}
.navbar img{
	width:26px;
	height: 26px;
	border-radius: 20px;
	position: absolute;
	margin-left: -32px;
	padding-bottom:2px;
	
}

@media only screen and (min-width: 992px){

.navbar .search{
	height: 26px !important;
	border-radius: 3px !important;
	width:380px; 
	border-top-right-radius:0px !important; 
	border-bottom-right-radius:0px !important; 
	border:0px !important;

}
.navbar .input-group{
	height:26px !important;
}
.navbar .input-group-prepend{
	height: 26px !important;
	margin-left:380px;
	position: absolute;
	background-color: #F5F6F7;
	border:0px !important;
}
.nav-border-r{
	border-right:1px solid #3B5C9F;
	padding-right:5px !important;
	padding-left:5px !important;

}
.nav-link i{
	color: #1A2946 !important;
	font-size:18px !important;
}
.nav-item a{
	font-size:13px;
}
.mobile-navbar{
	display: none;
}
}

/* 
	Content
*/
.sticky-offset{
	top: 66px;
}

.type-post{
	background-color: #fff;
	height:200px;
	width:100%;
	border-radius:3px;
}
.type-post textarea{
	border-radius: 0px !important;
	border:0px;
    resize: none;	
    height:46px;
    margin-top: 10px;
}
.type-post img{
	height: 46px;
	width: 46px;
	border-radius: 26px;
	margin-top:10px;
	margin-left:10px;
}
.type-post button{
	height:35px;
}
.type-post-header{
	background-color: #F5F6F7;
	height:30px;
	font-size:14px;
	padding:5px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

}
.type-post-footer .col-md-3{
	border-radius:10px;
	border:4px solid #fff;
	font-size:12px;
	font-weight:600;
}
.type-post input[type="submit"]{
	color:#fff;
	height: 35px;
}
.space{
	height:20px;
}
.post {
	margin-top:20px;
	border-radius:5px;
	background-color: #fff;
	min-height:100px;
}
.post-header{
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;

}
.post-header img{
	height: 36px;
	width: 36px;
	border-radius:23px;
}
.post .photo{
	max-width:100%;
	padding-bottom:10px;
}
.post .video{
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 10px;
}
.post a {
	text-decoration: none;
	font-weight: 600;
	color:#000;
}
.story{
	padding-bottom: 10px;
	background-color: #fff;
	border-radius:4px;
}
.story-header{
	padding-top: 10px;
	padding-right:5px;
	padding-left: 5px;
	font-size: 14px;
}
.story i{
	font-size: 64px;
}
.p1{
	padding-bottom: 5px;
}

/**
*   Login
*/ 

.welcome i{
	font-size: 70px;
	color:#717a82;
}
.description{
	margin-top: 24px;
}
.bold{
	font-weight: 600;
}
.bg-green{
	background-color: #61a04e;
}
.btn-submit{
	color:#fff;
	font-weight: 600;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.btn-submit:hover{
	color:#fff;
}
.login h1{
	color:#fff;
	margin-top: 10px;
	font-weight: 600;
}
.login form{
	margin-top: 2px;
}
.login form input{
	border-radius: 0px !important;
}
.login form small{
	color:#fff;
	font-weight:600;
}
.login input{
	border: 1px solid #000 !important;
}
.login form input[type="submit"]{
	margin-top:24px;
	width:80px !important;
	width: 60px;
	background-color: #3b5998 !important;
	color:#fff;
	font-weight: 600;
}
.login{
	padding-left: 46px;
	padding-right: 46px;
	height: 80px;
}

/**
*   Profile
*/
.profile .profile-head img{
	height: 160px;
	width: 160px;
	border-radius:80px;
	border:6px solid #fff;
}
.fb-profile-block {
  margin: auto;
  position: relative;
  width: 100%;
}
.cover-container{
    background: #e5e5e5;
    background-image: url('/img/cover.jpg');
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;    
}
.fb-profile-block-thumb{
  display: block;
  height: 315px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.fb-profile-block-menu {
  border: 1px solid #d3d6db;
  border-radius: 0 0 3px 3px;
}
.profile-img a{
    bottom: 15px;
    box-shadow: none;
	display: block;
	left: 15px;
	padding:1px;
	position: absolute;
	height: 160px;
	width: 160px;
	z-index:9;
}
.profile-img img {
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  height:158px;
  padding: 5px;
  width:158px;
}
.profile-name {
  bottom: 60px;
  left: 200px;
  position: absolute;
}
.profile-name h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  max-width: 275px;
  position: relative;
}
.fb-profile-block-menu{
  height: 44px;
  position: relative;
  width:100%;
  overflow:hidden;
 }
.block-menu {
  clear: right;
  padding-left: 205px;
  background-color: #fff;
}
.block-menu ul{
	margin:0;
	padding:0;
}
.block-menu ul li{
	display:inline-block;
}
.block-menu ul li a {
  border-right: 1px solid #e9eaed;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  line-height: 3.0;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color:#4b4f56;
  text-transform:capitalize;
}
.block-menu ul li:first-child a{
  border-left: 1px solid #e9eaed;
}
